$mainColor: #9960F6;
$additionalColor: #8556F8;
$footerColor: #7A54F9;
$otherAdditionalColor: rgba(51, 48, 255, 0.2);
$selectionСolor: #CEF564;
$selectionAdditionalСolor: #FFDB00;
$highlightingText: #1E3264;
$formContainer: #016450;
$buttonForm: #A27BFF;