.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  min-width: 693px;
  height: 544px;
  background-color: $formContainer;

  &__title {
    margin: 0;
    pointer-events: none;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
  }

  &__input-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }

  &__input-item:last-of-type {
    width: 100%;
  }

  &__input-item {
    width: max-content;
    width: 310px;
  }

  &__input-capture {
    display: block;
    max-width: max-content;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #fff;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 12px;
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff ;
    height: 44px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #fff;
  }
}