.logo {
    display: block;
    pointer-events: none;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $selectionAdditionalСolor;
    text-transform: uppercase;
}